<p itemprop="description">Before humans first started sending objects into Earth orbit, the pocket of space around our
    planet
    was clear and clean. But the launch of Sputnik 1 in October of 1957 changed everything. Since then,
    the space debris has been accumulating, with the amount of useless, defunct satellites vastly
    outnumbering the operational objects in our orbit. <a
        href="https://www.sciencealert.com/the-space-debris-problem-is-getting-worse-not-better">Source</a>
</p>