{% block footer %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_footer">
        <footer class="py-2 mt-auto" style="background-color: #F8F8F8;">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">
                        <a href="#"></a>Copyright &copy;</a> 2021
                        <a href="https://github.com/edesz">@edesz</a>
                    </div>
                    <div>
                        <a href="https://opensource.org/licenses/MIT">MIT License</a>
                        (<a href="https://github.com/edesz/owd-theme">Source</a>)
                    </div>
                </div>
            </div>
    </div>
</div>
</footer>
{% endblock %}