<div class="container-fluid">
    <div class="container-fluid mt-4 mb-0" style="background-color:white">
        <div class="col-lg-6">
            <div class="card border border-dark mb-0"
                style="border-radius: 0px;background-color:#ffffe6;color:#330000;">
                <div class="card-body mt-6">
                    <h2 class="card-title mb-2" style="text-align: center;">Summary</h2>
                    <p class="card-text mb-0">
                    <ul class="card-text mb-0">
                        <li>Section one's description goes in this space over here (<a href="#section-1">go to
                                section</a>)</li>
                        <li>Section two's description goes in this space over here (<a href="#section-2">go to
                                section</a>)</li>
                        <li>Section three's description goes in this space over here (<a href="#section-3">go to
                                section</a>)</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>