<caption>
    List of users
    <hr class="mt-0 mb-1" style="width:75%;text-align:left;margin-left:0;color:#484848;opacity:1;">
    <hr class="mt-0 mb-0" style="opacity: 0.25;">
    </hr>
</caption>
<table class="table mt-0" style="color: black;">
    <tbody>
        <tr>
            <td>#</th>
            <td>First</th>
            <td>Last</th>
            <td>Handle</th>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <td>2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <td>3</th>
            <td>Larry</td>
            <td>Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>
<caption>
    <p><small style="color: #484848;">Must be at least 200</small></p>
    <p><small style="color: #484848;">Must be at least 300</small></p>
</caption>